# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.python-version

# Pygraphviz
pygraphviz/

# Données Calibration
calib_data/

# Environnements virtuels
hailo_venv/
yolo_venv/

# Fichiers de logs et outputs
*.log
*.csv
*.h5
*.pt
*.pth
outputs/
weights/

# Jupyter / notebooks
.ipynb_checkpoints/

# Mac / Windows
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
